<div class="navbar bg-base-100 sticky top-0 z-40 w-full">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Series</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a (click)="navigateToSeries()">Series</a></li>


        <li>
          <a (click)="navigateToTrailers()">New Trailers</a>
          <!-- <ul class="p-2">
                  <li><a>Submenu 1</a></li>
                  <li><a>Submenu 2</a></li>
                </ul> -->
        </li>
        <li><a (click)="navigateToMovies()">Movies</a></li>
        <li><a (click)="navigateToMusic()">Music</a></li>

      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl" (click)="navigateToHome()"><img
        src="../assets/Black and White Minimalist.png" alt="logo" width="150" /></a>
  </div>
  <!-- nav items  -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a (click)="navigateToSeries()">Series</a></li>
      <li><a (click)="navigateToAbout()">About</a></li>
      <li>
        <a (click)="navigateToTrailers()">New Trailers</a>
        <!-- <details>
                <summary>New Trailers</summary>
                <ul class="p-2">
                  <li><a>MDB</a></li>
                  <li><a>IMDB</a></li>
                </ul>
              </details> -->
      </li>
      <li><a (click)="navigateToMovies()">Movies</a></li>
      <li><a (click)="navigateToMusic()">Music</a></li>
    </ul>
  </div>
  <div class="flex-none navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="badge badge-sm indicator-item">8</span>
        </div>
      </label>
      <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow">
        <div class="card-body">
          <span class="font-bold text-lg">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
          <div class="card-actions">
            <button class="btn btn-primary btn-block" (click)="navigateToCart()">
              View cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div title="Change Language" class="dropdown dropdown-end">
      <div tabindex="0" class="btn btn-ghost normal-case"><svg
          class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
          <path d="M363,176,246,464h47.24l24.49-58h90.54l24.49,58H480ZM336.31,362,363,279.85,389.69,362Z"></path>
          <path
            d="M272,320c-.25-.19-20.59-15.77-45.42-42.67,39.58-53.64,62-114.61,71.15-143.33H352V90H214V48H170V90H32v44H251.25c-9.52,26.95-27.05,69.5-53.79,108.36-32.68-43.44-47.14-75.88-47.33-76.22L143,152l-38,22,6.87,13.86c.89,1.56,17.19,37.9,54.71,86.57.92,1.21,1.85,2.39,2.78,3.57-49.72,56.86-89.15,79.09-89.66,79.47L64,368l23,36,19.3-11.47c2.2-1.67,41.33-24,92-80.78,24.52,26.28,43.22,40.83,44.3,41.67L255,362Z">
          </path>
        </svg> <svg width="12px" height="12px" class="hidden h-2 w-2 fill-current opacity-60 sm:inline-block"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
          <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
        </svg></div>
      <div class="dropdown-content bg-base-200 text-base-content rounded-box top-px mt-16 w-56 overflow-y-auto shadow">
        <ul class="menu menu-sm gap-1" tabindex="0">
          <li><button class="active"><img class="drop-shadow" loading="lazy" width="20" height="20" alt="English"
                src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.0/svg/1f1ec-1f1e7.svg"> English </button> </li>
        </ul>
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://s2.dmcdn.net/d/5000001P-0Ie2/60x60" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a (click)="navigateToProfile()" class="justify-between">
            Profile
            <!-- <span class="badge">New</span> -->
          </a>
        </li>
        <li><a (click)="navigateToSettings()">Settings</a></li>
        <li><a (click)="navigateToSignIn()">Logout</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="navbar-end">
          <a class="btn">Button</a>
        </div> -->
</div>