<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="card bg-primary text-primary-content">
      <div class="card-body">
        <div class="card-actions justify-end">
          <button class="btn btn-circle btn-sm" routerLink="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <iframe
          frameborder="0"
          type="text/html"
          src="https://www.dailymotion.com/embed/video/x8grfo4?autoplay=1"
          width="1000"
          height="570"
          allowfullscreen
          title="Dailymotion Video Player"
          allow="autoplay"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
